<%= form_with(model: genre) do |form| %>
  <% if genre.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
        <% genre.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title_genre, style: "display: block" %>
    <%= form.text_field :title_genre %>
  </div>

  <div>
    <%= form.label :description_genre, style: "display: block" %>
    <%= form.text_area :description_genre %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
