
<div id="<%= dom_id genre %>">
  <h1><%= genre.title_genre%></h1>
  <div class="d-flex">
    <% @movies.select{|movie| movie.genre.title_genre.include? genre.title_genre}.first(3).each do |movie|%>
      <div class="mx-3">
        <%= link_to (image_tag movie.url_poster, width:156, height:231), movie %>
      </div>
    <% end %>
    <p class="text-center"><%=genre.description_genre%><%= link_to "Veja mais filmes de #{genre.title_genre}", genre %></p>
  </div>
</div>
