<p style="color: green"><%= notice %></p>

<section>
  <div class="container">
    <h3 class="text-center"><%= @genre.title_genre%></h3>
    <p class="text-center fs-6"><%= @genre.description_genre%></p>
    
    <div class="mb-5 d-flex align-items-center">
      <p class="mx-2">Filtros:</p>
      <%= button_tag "ano de lançamento", type: 'button', onclick:"myFunction('lancamento')" , class: 'btn bg-success mx-2 text-white' %>
      <%= button_tag "avaliacao", type: 'button', onclick: "myFunction('avaliacao')", class: 'btn bg-success mx-2 text-white' %>
      <%= button_tag "nome", type: 'button', onclick: "myFunction('name')", class: 'btn bg-success mx-2 text-white' %>
    </div>
    <ul class="row row-cols-6 text-center list-movies" id="movies">
      <% @movies.select{|movie| movie.genre.title_genre.include? @genre.title_genre}.each do |movie|%>      
        <%= render movie %>
      <% end %>
    </ul>
  <%= link_to "Back to genres", genres_path, class: "btn btn-success text-center"%>
</section>
