<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :resume, style: "display: block" %>
    <%= form.text_area :resume %>
  </div>

  <div>
    <%= form.label :release_year, style: "display: block" %>
    <%= form.number_field :release_year %>
  </div>

  <div>
    <%= form.label :runtime, style: "display: block" %>
    <%= form.number_field :runtime %>
  </div>

  <div>
    <%= form.label :url_poster, style: "display: block" %>
    <%= form.text_field :url_poster %>
  </div>

  <div>
    <%= form.label :url_large_image, style: "display: block" %>
    <%= form.text_field :url_large_image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
