<li 
  class="col mx-3 my-3 position-relative" 
  style="list-style:none" 
  id="<%= dom_id movie %>"
  data-lancamento=<%= movie.release_year%>
  data-avaliacao=<%= movie.rate.score%>
  data-name=<%= @i = @i + 1%>>

  <div class="position-absolute px-3 py-2 top-0 start-70 translate-middle badge <%= class_rate movie.rate.score%>"><h6><%= movie.rate.score%></h6></div>
  <%= link_to (image_tag movie.url_poster, width:115, height:155), movie, class: "link_movie_#{movie.id}"%>
  <p class="text-center">
    <strong><%= movie.title %></strong><br>
    <%= movie.release_year %>
  </p>  
</li>