<div id="<%= dom_id movie %>">
    <div>
        <%= image_tag movie.url_large_image%>
    </div>
    <div>
        <div>
            <%= image_tag movie.url_poster%>
        </div>
        <div>
            <p><%= movie.resume %></p>
        </div>
    </div>
</div>

