<p style="color: green"><%= notice %></p>

<h1>Movies</h1>
<section class="mb-5 d-flex align-items-center" >
  <p class="mx-2">Filtros:</p>
  <%= button_tag "ano de lançamento", type: 'button', onclick:"myFunction('lancamento')" , class: 'btn bg-success mx-2' %>
  <%= button_tag "avaliacao", type: 'button', onclick: "myFunction('avaliacao')", class: 'btn bg-success mx-2' %>
  <%= button_tag "nome", type: 'button', onclick: "myFunction('name')", class: 'btn bg-success mx-2' %>

</section>
<section>
  <ul class="row row-cols-6 text-center list-movies" id="movies">
    <% @movies.each do |movie| %>
      <%= render movie %>
    <% end %>
  </ul>
</section>

