<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @movie %>">
  <div class="w-100 mb-5">
      <%= image_tag @movie.url_large_image, width: "100%", height: "650px", class: "opacity-50"%>
  </div>
  <div class="d-flex align-items-center px-5">
    <%= image_tag @movie.url_poster%>
    <div class="px-4">
        <h3><%= @movie.title%> (<%= @movie.release_year%>)</h3>
        <p><%= runtime_hour @movie.runtime %></p>
        <p class="fs-5 text-justify"><%= @movie.resume %></p>
    </div>
   <div class="badge <%= class_rate @movie.rate.score%> fs-2 h-25">
      <%= @movie.rate.score%>
   </div>
</div>
<div class="d-flex mt-5 justify-content-center">
  <%= link_to "Back to movies", movies_path, class: "btn btn-success mx-2"%>
  <%= link_to "Veja a avaliacação para #{@movie.title}", rate_path , class: "btn btn-success mx-3" %>

</div>


