<header>
    <nav class="d-flex justify-content-between px-2 navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <%= link_to "Sabe Aquele Filme", welcome_index_path, class:"nav-link"  %>
            <li class="nav-item active">
                <%= link_to "Home", welcome_index_path, class:"nav-link"  %>
            </li>
            <li class="nav-item active">
                <%= link_to "Filmes", movies_path, class:"nav-link"  %>
            </li>
            <li class="nav-item active">
                <%= link_to "Generos", genres_path, class:"nav-link"  %>
            </li>
        </ul>
        <p>
            <%= link_to "Português", "/?locale=pt-BR" %>
            <%= link_to "English", "/?locale=en" %>
        </p>
    </nav>
    
</header>