<div class="text-center banner">
    <h1>Sabe Aquele Filme</h1>
</div>
<div class="d-grid gap-4 col-5 mx-auto text-center">
    <h3 class="text-center">Acompanhe os filmes que você assistiu.</h3>
    <h3 class="text-center">Salve aqueles que você deseja ver.</h3>
    <h3 class="text-center">Diga a seus amigos o que é bom.</h3>
    <%= link_to "Veja Mais", movies_path, class: "btn btn-success px-5" %>
</div>

    <div class="container mt-5 list-movie" id="new_movies">
        <div class="row" id="movie_list">
            <% @movies.sort_by{|movie| movie.release_year}.filter{|movie| movie.release_year > 2020}.first(6).reverse.each do |movie| %>
                <div class="col px-2 movie" id="<%= dom_id movie%>" data-release_year = <%=movie.release_year%>>
                    <div class="tip">
                        <small class="tiptext"><%= movie.title %><br><%= movie.release_year%></small>
                    </div>
                    <%= link_to (image_tag movie.url_poster, width:170, height:250, class:"rounded-2 new_movie" ), movie %>
                </div>
            <% end %>
        </div>
    </div>
<br>
<section class="mt-5">
    <h1 class="text-center mb-5">Ultimos filmes avaliados</h1>
    <ul class="container">
    <% @movies.filter{|movie| movie.rate.time_rate > Time.new(2023)}.first(5).each do |movie| %>
        <li class="d-flex justify-content-center mb-4 movies_avaliados">
            <%= link_to (image_tag movie.url_poster, width:100, height:150, class: "mx-2"), movie %>
            <div class="mx-2">
                <h3><%= movie.title%></h3><small class="badge bg-primary"><%= movie.release_year%></small>
                <p class="pt-2"><%= truncate_text(movie.rate.commentary)%><%= link_to "Veja a critica completa", "/rates/#{movie.rate.id}"%></p>
            </div>
            <div class="badge <%= class_rate movie.rate.score%> fs-3" style="height:50px">
                <%= movie.rate.score%>
            <div> 
        </li>   
        <hr>
        <% end %>
    </ul>
</section>

