<%= form_with(model: rate) do |form| %>
  <% if rate.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rate.errors.count, "error") %> prohibited this rate from being saved:</h2>

      <ul>
        <% rate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :score, style: "display: block" %>
    <%= form.number_field :score %>
  </div>

  <div>
    <%= form.label :commentary, style: "display: block" %>
    <%= form.text_area :commentary %>
  </div>

  <div>
    <%= form.label :time_rate, style: "display: block" %>
    <%= form.datetime_field :time_rate %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
