<div id="<%= dom_id rate %>">
  <p>
    <strong>Score:</strong>
    <%= rate.score %>
  </p>

  <p>
    <strong>Commentary:</strong>
    <%= rate.commentary %>
  </p>

  <p>
    <strong>Time rate:</strong>
    <%= rate.time_rate %>
  </p>

</div>
