<p style="color: green"><%= notice %></p>

<div class="card w-75 container">
  <div class="card-body text-center py-2">
    <div class="badge bg-success h-75 p-4 mt-4 mx-2 fs-3 float-start"><%= @rate.score %></div>
    <h5 class="card-title"><%= @movie['title']%></h5>
    <p class="card-text text-justify text-dark"><strong>Commentary: </strong><%= @rate.commentary%></p>
    <%= link_to "Back to #{@movie['title']}", "/movies/#{@movie["id"]}", class: "btn btn-success" %>
  </div>
</div>
