<!DOCTYPE html>
<html>
  <head>
    <title>Sabe Aquele Filme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header><%= render "partials/menu_bar" %></header>
    <%= yield %>
    <footer><%= render "partials/footer" %></footer>
  </body>
</html>
